In [1]:
#First install pymongo
#pip install pymongo

In [3]:
# Make sure Mongodb installed in your local machine
# Start Server using "mongod" command in Terminal
# Start Client using "mongo" command in another Termial.
# In client terminal execute these both command to create database and collection
# use demo
# db.createCollection("students")
# show dbs
# show collections

In [2]:
from pymongo import MongoClient

In [4]:
# First create one MongoDB Client to execute any further commands.
client = MongoClient('mongodb://localhost:27017/')

In [5]:
# To show all database name
client.list_database_names()

['admin', 'config', 'demo', 'local', 'test_database']

In [6]:
# Create database variable to work on any database "demo"
db = client["demo"]

In [7]:
# To fetch all collection inside "demo" database
db.list_collection_names()

['students', 'books']

In [8]:
collection = db["students"]

In [9]:
#Better use students variable itself
students = db["students"]

In [12]:
students.count_documents({})

0

In [14]:
students.insert_one({"id":1,"name":"Binod Suman","country":"IN"})

In [15]:
students.count_documents({})

1

In [16]:
students.find_one()

{'_id': ObjectId('5e578f99232cf82e497a37a6'),
 'id': 1,
 'name': 'Binod Suman',
 'country': 'IN'}

In [18]:
# Multiple insert
studentlist = [
  { "id":1,"name":"Binod Suman","country":"IN"},
  { "id":2,"name":"Bill Gates","country":"US"},
  { "id":3,"name":"Steve Jobs","country":"US"},
  { "id":4,"name":"Narayan Murthy","country":"IN"},
  { "id":5,"name":"Azim Premji","country":"IN"},
  { "id":6,"name":"Nandan Nilekani","country":"IN"},
  { "id":7,"name":"sundar pichai","country":"IN"}
]

In [19]:
students.insert_many(studentlist)

In [20]:
students.count_documents({})

8

In [23]:
# Display all records
for student in students.find():
  print(student)

{'_id': ObjectId('5e578f99232cf82e497a37a6'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37a7'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37a8'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('5e579223232cf82e497a37a9'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5e579223232cf82e497a37aa'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ab'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ac'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ad'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [24]:
# Display limited documents
for student in students.find().limit(2):
  print(student)

{'_id': ObjectId('5e578f99232cf82e497a37a6'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37a7'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}

In [28]:
# Show only name and country details
for student in students.find({},{"_id": 0,"name": 1,"country": 1}):
  print(student)

{'name': 'Binod Suman', 'country': 'IN'}
{'name': 'Binod Suman', 'country': 'IN'}
{'name': 'Bill Gates', 'country': 'US'}
{'name': 'Steve Jobs', 'country': 'US'}
{'name': 'Narayan Murthy', 'country': 'IN'}
{'name': 'Azim Premji', 'country': 'IN'}
{'name': 'Nandan Nilekani', 'country': 'IN'}
{'name': 'sundar pichai', 'country': 'IN'}

In [29]:
# Get all record country is IN
for student in students.find({"country":"IN"}):
  print(student)

{'_id': ObjectId('5e578f99232cf82e497a37a6'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37a7'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37aa'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ab'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ac'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ad'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [30]:
# Get all record id is more than 2
for student in students.find({"id":{"$gt": 2}}):
  print(student)

{'_id': ObjectId('5e579223232cf82e497a37a9'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5e579223232cf82e497a37aa'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ab'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ac'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ad'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [32]:
# Get all record name start with "B"
for student in students.find({"name":{"$regex": "^B"}}):
  print(student)

{'_id': ObjectId('5e578f99232cf82e497a37a6'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37a7'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37a8'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}

In [33]:
# Sort on name field
# Display all records
for student in students.find().sort("name"):
  print(student)

{'_id': ObjectId('5e579223232cf82e497a37ab'), 'id': 5, 'name': 'Azim Premji', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37a8'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('5e578f99232cf82e497a37a6'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37a7'), 'id': 1, 'name': 'Binod Suman', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37ac'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37aa'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IN'}
{'_id': ObjectId('5e579223232cf82e497a37a9'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5e579223232cf82e497a37ad'), 'id': 7, 'name': 'sundar pichai', 'country': 'IN'}

In [34]:
#Update Many
myquery = { "country": { "$regex": "^IN" } }
newvalues = { "$set": { "country": "IND" } }

result = students.update_many(myquery, newvalues)

print(result.modified_count, "documents updated.")

6 documents updated.

In [35]:
for student in students.find().sort("name"):
  print(student)

{'_id': ObjectId('5e579223232cf82e497a37ab'), 'id': 5, 'name': 'Azim Premji', 'country': 'IND'}
{'_id': ObjectId('5e579223232cf82e497a37a8'), 'id': 2, 'name': 'Bill Gates', 'country': 'US'}
{'_id': ObjectId('5e578f99232cf82e497a37a6'), 'id': 1, 'name': 'Binod Suman', 'country': 'IND'}
{'_id': ObjectId('5e579223232cf82e497a37a7'), 'id': 1, 'name': 'Binod Suman', 'country': 'IND'}
{'_id': ObjectId('5e579223232cf82e497a37ac'), 'id': 6, 'name': 'Nandan Nilekani', 'country': 'IND'}
{'_id': ObjectId('5e579223232cf82e497a37aa'), 'id': 4, 'name': 'Narayan Murthy', 'country': 'IND'}
{'_id': ObjectId('5e579223232cf82e497a37a9'), 'id': 3, 'name': 'Steve Jobs', 'country': 'US'}
{'_id': ObjectId('5e579223232cf82e497a37ad'), 'id': 7, 'name': 'sundar pichai', 'country': 'IND'}

In [ ]:
#  Please subscribe my youtube channel "Binod Suman Academy"
#  YouTube video on MongoDB https://www.youtube.com/watch?v=puEi_t9PMTE